<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="container">
  <%- include('../layout/header', {title: "WikiPage List", user: user}) %>
  <% title = "WikiPage List" %>
  <h1>List of Wiki Page</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <% page.forEach(function(equip) { %>
        <%- include('_page', {page: equip}) %>
        <% }); %>
      </ul>
    </div>

    <% if(user.username != "Guest" ) { %>
      <a class="btn btn-large btn-info" href="/page/new">Add a new Wiki Page</a>
    <% } %>
  </div>
</div>
