<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="container">
  <%- include('../layout/header', {title: "Add page to Libary", user: user}) %>
  <h1>Add a new Wiki Page</h1>
  <form class="form-horizontal" role="form" style="width: 50%" action="/page" method="POST">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="Title of the Wiki page" value="">
      </div>
    </div>

    <div class="form-group">
      <label for="author" class="col-sm-2 control-label">Author</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" id="author" name="author" placeholder="Author of this Wiki page" value="">
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">Content</label>
      <div class="col-sm-10">
          <textarea class="form-control" rows="4" name="description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
          <input id="submit" name="submit" type="submit" value="Submit" class="btn btn-primary">
      </div>
    </div>
    <div id="return">
      <a class="btn btn-large btn-info" href="/page">Return to the homepage</a>
    </div>
  </form>
</div>
