<div class="container">
<<<<<<< HEAD
  <%- include('../layout/header2', {title: "Hobby List", user: user}) %>
=======
  <%- include('../layout/header', {title: "Hobby List", user: user}) %>
>>>>>>> 1a2bb2e3ce95639d22c75148abceb68a10f27e1f
  <% title = "List of Hobbies" %>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul>
        <% hobby.forEach(function(hobby) { %>
          <%- include('_index', {hobby: hobby}); %>
        <% }); %>
      </ul>

      <a href="/hobby/new">New hobby</a>

    </div>
  </div>

  <div id="return">
    <a class="btn btn-large btn-info" href="/">Return to the homepage</a>
  </div>
<<<<<<< HEAD
=======
  <%- include('../layout/footer') %>
>>>>>>> 1a2bb2e3ce95639d22c75148abceb68a10f27e1f
</div>
