<<<<<<< HEAD
<%- include('../layout/header2', {title: "Add Hobby", user: user}) %>
=======
<%- include('../layout/header', {title: "Add Hobby", user: user}) %>
>>>>>>> 1a2bb2e3ce95639d22c75148abceb68a10f27e1f
<h1>Add Hobby</h1>
<form action="/hobby" method="POST">
  <p>
    <label for="name">Name:</label>
    <input name="name" type="text" />
  </p>
  <p>
    <input type="submit" value="Add" />
  </p>
</form>
<<<<<<< HEAD
=======
<%- include('../layout/footer') %>
>>>>>>> 1a2bb2e3ce95639d22c75148abceb68a10f27e1f
