<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="container">
  <%- include('../layout/header2', {title: "User List", user: user}) %>
  <% title = "List of Users" %>
  <h1>List of Users</h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <table border="1" >
        <tr><td>Username</td><td>Admin privilege</td><td>Ban Option</td><td>Delete User</td></tr>
        <% users.forEach(function(equip) { %>
          <%- include('_users', {users: equip}) %>
        <% }); %>
      </table>
    </div>
  </div>

  <div id="return">
    <a class="btn btn-large btn-info" href="/page">Return to the homepage</a>
  </div>
</div>
