
<%- include('../layout/header', {title: "Sign Up", user: user}) %>
<div class="Signup">
  <br>
  <br>
  <br>
  <h1>Fill out the form below to sign up</h1>
    <form action="/users/new" method="post">
      Username <input type="username" placeholder="username"/>
      Password <input type="password" placeholder="password"/>
      Name <input type="text" placeholder="First name"/>
      <input type="text" placeholder="Last name"/>
      Email <input type="text"/>
      Description <input type="textarea"/>
      <input type="submit" value="Send"/>
    </form>

    <a href="/">Return to the homepage</a>
</div>
<%- include('../layout/footer') %>
