
<%- include('../layout/header', {title: "Sign Up", user: user}) %>

  <h1>Fill out the form below to sign up</h1>
  <form action="/users/new" method="post">
    Name <input type="text" placeholder="First name"/>
    <input type="text" placeholder="Last name"/>
    Email <input type="text"/>
    Description <input type="textarea"/>
    <input type="submit" value="Send"/>
</form>

  <div id="return">
    <a class="btn btn-large btn-info" href="/">Return to the homepage</a>
  </div>

  <%- include('../layout/footer') %>
