<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="container">
  <% title = "Unauthorized Access" %>
  <div class="jumbotron">
    <h1>Only admin has the authority to access this page.</h1>
    <h2>If you are an admin, please log in to continue further.</h2>
  </div>

  <div id="return">
    <a class="btn btn-large btn-info" href="/">Return to the homepage</a>
  </div>
</div>
