<div class="footer">
<p style="text-align:center"> copyright hobby finder 2016 | designed in kansas</p>
<!-- end .footer -->
</div>
<!-- end .container -->
</div>
<script type="text/javascript">
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {
imgDown: "SpryAssets/SpryMenuBarDownHover.gif",
imgRight: "SpryAssets/SpryMenuBarRightHover.gif"
});
</script>
<script src="/bundle.js"></script>
</body>
</html>
