</div>
<!-- Footer -->
<div id="footer">
<footer class="footer-basic-centered">
  <p class="footer-company-name">Hobby Finder by Team LGP &copy; 2016</p>
</footer>
</div>

  <!-- jQuery -->
  <script src="../../../js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../../../js/bootstrap.min.js"></script>

  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
  </script>

</body>
</html>
