<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <style type="text/css">
  body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background: #4E5869;
    margin: 0;
    color: #000;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 0px;
    background-color: #6CF;
  }
  /* ~~ Element/tag selectors ~~ */

  ul, ol, dl {
    padding: 0;
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
    padding-right: 15px;
    padding-left: 15px;
    /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
  }
  a img {
    /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
    border: none;
  }
  /* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
  a:link {
    color: #CCCCCC;
    text-decoration: underline;
    /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
  }
  a:visited {
    color: #4E5869;
    text-decoration: underline;
  }
  a:hover, a:active, a:focus {
    /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
    text-decoration: none;
  }
  /* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
  .container {
    width: 100%;
    right: 0%;
    background-color: #FFF;
  }
  /* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
  .header {
    background: #000;
    position: fixed;
    left: 0px;
    width: 100%;
    height: 50px;
    color: #FFF;
    z-index: 1;
  }
  .interest {
    background: #FFF;
    position: absolute;
    top: 50px;
    float: left;
    width: 200px;
    min-height: 200px;
    margin-left: 10px;
    margin-top: 15px;
    z-index: 0;
  }
  .sidebar1 {
    float: right;
    width: 175px;
    background: #333;
    position: fixed;
    right: 0%;
    top: 50px;
    bottom: 50px;
    color: #CCC;
    border-top-style: none;
    padding-left: 25px;
  }
  .content {
    float: left;
    background-color: #FFF;
    overflow: auto;
    margin-top: 320px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 250px;
  }
  /* ~~ This grouped selector gives the lists in the .content area space ~~ */
  .content ul,
  .content ol {
    padding: 5px 15px 15px 10px;
    /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
    overflow: auto;
  }
  /* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
  ul.nav {
    list-style: none;
    /* this removes the list marker */
    border-top: 1px solid #666;
    /* this creates the top border for the links - all others are placed using a bottom border on the LI */
    margin-bottom: 15px;
    /* this creates the space between the navigation on the content below */
  }
  ul.nav li {
    border-bottom: 1px solid #666;
    /* this creates the button separation */
  }
  ul.nav a,
  ul.nav a:visited {
    /* grouping these selectors makes sure that your links retain their button look even after being visited */
    padding: 5px 5px 5px 15px;
    display: block;
    /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
    text-decoration: none;
    background: #8090AB;
    color: #000;
  }
  ul.nav a:hover,
  ul.nav a:active,
  ul.nav a:focus {
    /* this changes the background and text color for both mouse and keyboard navigators */
    background: #6F7D94;
    color: #FFF;
  }
  /* ~~ The footer ~~ */
  .footer {
    padding: 10px 0;
    background: #6F7D94;
    position: fixed;
    /* this gives IE6 hasLayout to properly clear */
    clear: both;
    /* this clear property forces the .container to understand where the columns end and contain them */
    bottom: 0px;
    height: 40px;
    right: 0px;
    background-color: #000;
    color: #FFF;
    left: 0px;
  }
  /* ~~ miscellaneous float/clear classes ~~ */
  .fltrt {
    /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
  }
  .fltlft {
    /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
    float: left;
    margin-right: 8px;
  }
  .clearfloat {
    /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
  }
-->
</style>
<!--[if lte IE 7]>
<style>
.content { margin-right: -1px; } /* this 1px negative margin can be placed on any of the columns in this layout with the same corrective effect. */
ul.nav a { zoom: 1; }  /* the zoom property gives IE the hasLayout trigger it needs to correct extra whiltespace between the links */
</style>
<![endif]-->
<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">
<div class="header" style="text-align:right">
<img src="src/icon.png" alt="Hobby Finder" style="float:left;padding-top:10px;padding-left:10px">
<ul id="MenuBar1" class="MenuBarHorizontal">
  <li><a href="index.html">home</a>
  </li>
  <li><a href="hobby.html">hobbies</a>
  </li>
  <li><a href="profile.html">profile</a>
  </li>
</ul>
<a href="">login/sign up</a>
<!-- end .header -->
</div>
<div class="sidebar1">
<ul class="nav">
</ul>
<img src="src/dumby_pro_pic.png" alt="Profile Pic" style="">
<ul>friends</ul>
<ul>manage</ul>
<ul>logout</ul>
</div>
<div class="content">
<div class="interest">
  <ul>
    <li>1 History</li>
    <li>2 Uses</li>
    <ul>
      <li> 2.1 Transportation</li>
      <li> 2.2 Freeride</li>
      <li> 2.3 Downhill</li>
      <li> 2.4 Dancing</li>
      <li> 2.5 Cruising</li>
      <li> 2.6 Travel</li>
    </ul>
  </ul>

  <!-- end .interest -->
</div>

<h2>Uses</h2>
<p>Longboarding is the act of riding on a Longboard. Longboarding also has competitive races down hill, with some riders reaching speeds exceeding 50 miles per hour. (skateboard)|longboard skateboard]]. A longboard varies in shape and size unlike its set counterpart, the skateboard, and has more stability, traction and durability due to larger wheel size and lower wheel durometers. Many, but not all longboards, use trucks (axles) that contain different geometric parameters than a skateboard as well. These factors and their variation have given way to a variety of disciplines, functions and purposes for a longboard. The angles at which some longboards can turn, as well as their ability to coast long distances make them more suitable for cruising, and commuting, on streets than regular skateboards.</p>
<p>The life of longboarding started in approximately the 1950s.[1] The idea of longboarding originated from surfers in Hawaii that wanted to take their surfing hobby to land when the waves where too small to surf.[1] Surfers then figured out a way of achieving their goal of bringing surfing to land by customizing their skateboards. They would grab a piece of thick plywood and shape it into a smaller version of a surfboard, then screw the trucks and wheels to the decks and head out to small hills to imitate the same moves they would do if they were out surfing. During the 1970s, a small group of longboarders honed their techniques. Some of the more notable longboarders from this period, such as Tom Sims and Brad Stradlund were profiled in a 1978 SkateBoarder magazine article entitled Cult of the Longboard.[2] These pioneers saw longboarding as a form of self-expression, and were influenced by surfing. However, despite the advent of polyurethane wheels (affectionately referred to as "thane" by longboarders[3]), longboarding did not reach a high degree of prevalence during the 1970s.[4]</p>

<p>Longboards lived on as an underground sport with home hobbyists continuing to make boards in their garages or strap trucks onto snowboard decks using old Kryptonic wheels from the 70's or roller skating wheels.[citation needed]</p>

<p>In the early 1990s, Sector 9 started mass-producing and selling longboards.[5] The 1990s also saw a change in truck technology: reverse kingpins made longboarding more stable.[citation needed]</p>

<p>The Internet has made it possible for small groups of skateboarders to communicate with each other and also gain an audience they might not have had locally, allowing the sport to grow further.[citation needed] Multiple subbranches of longboarding exist with relatively small but hardcore groups of adherents like slalom, LDP (long distance pushing/pumping), downhill, dance, freeriding, technical hardwheel sliding and more.</p>

<p>Besides diversifying into many "species", longboarding itself has also come back around full circle and is embracing more street oriented tricks and cross over events using ramps too as well as embracing its earlier beginnings in slalom, ditch skating and just speed itself and cornering.[citation needed]</p>

<p>A longboard, generally considered to be longer that a standard skateboard, is now synonymous with any skateboard that ranges in sizes. In general a skateboard that ranges from the size of a persons foot to 22 inches is called a Penny board. Made popular by the plastic resin boards first created in 1973. From there the skateboard branches into two categories, longboard and skateboard. These names have less to do with the length and more to do with the use. The length of a longboard does have an impact on performance with most high performance boards ranging from 32-45 inches. Carving boards can range in size from 24"- 6' long. The most popular length-range is about 32 to 60 inches. (Average skateboards are 28- 32 inches, with most being about 31-31.5 inches long.[6]</p>

<p>As well as usually being longer than a trick deck skateboard, longboards are typically equipped with larger, softer wheels which afford a smoother, faster ride.[7] However, depending on the durometer of the wheels used, it can be slower. There are many different uses for longboards, as shown below. Since longboards use softer bushings than a typical tech skateboard, carving is generally easier. Most longboards will use trucks with a much lower angle for enhanced turning. The trucks are often wider and will turn much sharper than skateboard trucks. Wider trucks also offer better stability. Some trucks use springs instead of bushings, such as Seismic trucks, or Original trucks. Original trucks also feature a wave-cam mechanism to control the lean and turn of the truck.</p>

<!-- end .content -->
</div>


<!--
<!doctype html>
<html>
<head>

  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="right">
    <% if(user.username == "Guest") { %>
      Please <a href="/login">Login</a>
      <% } else { %>
        Welcome <%= user.username %>.  Not you? <a href="/logout">logout</a>
        <% } %>
      </div>
